.addNote {
    .content {

        form {
            display: grid;
            grid-template: repeat(1, auto) / 1fr 453.33px;
            gap: 20px;


            .infoNote {
                display: flex;
                flex-direction: column;
                gap: 10px;

                input {
                    width: fit-content;
                }

                textarea {
                    min-height: 150px;
                }
            }

            .link {
                height: 200px;
                border-radius: var(--border-radius-block);
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: left;
                background-color: var(--orange);

                .title {
                    color: var(--totalWhite);
                    font: var(--title);
                }

                img {
                    filter: brightness(100);
                    align-self: flex-end;
                }
            }
        }
    }
}

@media (max-width:1000px) {
    .addNote .content form {
        grid-template: repeat(1, auto) / repeat(2, 1fr);

    }
}

@media (max-width:750px) {
        .addNote .content form {
        grid-template: repeat(2, auto) / repeat(1, 1fr);
        .link {
            height: 150px;
        }
    }
}