.note {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-block);
    padding: 20px;
    background-color: var(--whiteGrey);

    .noteDate {
        color: var(--orange);
        font: var(--title);
    }

    .noteText {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.allNotes {
    .content {
        display: flex;
        flex-direction: column;
        .gridNotes {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}