.heroBlock {
    .content {
        display: flex;
        flex-direction: column;
        .profile {
            display: grid;
            grid-template: repeat(1, 420px) / 453px 1fr;
            gap: 20px;
            .imgProfile {
                min-height: 320px;
                border-radius: var(--border-radius-block);
                background-color: var(--black);
            }
            .lastNote {
                height: 100%;
            }
        }
    }
}

@media (max-width:1000px) {
    .heroBlock .content .profile {
        grid-template: repeat(1, 320px) / repeat(2, 1fr);

    }
}

@media (max-width:750px) {
        .heroBlock .content .profile {
        grid-template: auto / 1fr;
        .lastNote {
            display: none;
        }
    }
}

