.registerForm {
    width: 100%;
    max-width: 454px;
    margin: auto;
    
    .content {
        padding: 0;

        @media (max-width:750px) {
            padding: 20px 15px;
        }

        h1 {
            width: 100%;
            color: var(--orange);
            display: flex;
    
            span {
                margin: auto;
            }
        }
    
        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;
    
            .checkbox {
                display: flex;
                gap: 10px;
                width: 100%;
    
                input {
                    width: 20px;
                    height: 20px;
                    border-radius: 5px;
                }
            }
    
            a {
                color: var(--orange);
            }
        }
    }

}