.trainingPrograms {
    .content {
        .gridProgram {
            display: grid;
            grid-template: repeat(1, 200px) / minmax(600px, 926.67px);
            grid-auto-rows: 200px;
            gap: 20px;
            .cardProgram {
                background-color: var(--whiteGrey);
                border-radius: var(--border-radius-block);
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .name {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .title {
                        font: var(--title);
                    }
                }

                img {
                    align-self: flex-end;
                }
            }
        }
    }
}

@media (max-width:750px) {

    .trainingPrograms .content .gridProgram {
        grid-auto-rows: 150px;
        grid-template:  150px / 1fr;
    }
}