.video {
    .content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        iframe {
            width: 100%;
            max-width: 926px;
            height: 520px;
            object-fit: cover;
            object-position: center;
            margin: auto;
            border-radius: var(--border-radius-block);
        }
    }
}