.lastNews {
    .content {
    }
    .newsBlock {
        height: 420px;
        background-color: var(--black);
        padding: 40px;
        border-radius: var(--border-radius-block);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .name {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .title {
                font: var(--h1);
                color: var(--totalWhite);
            }
            p {
                color: var(--totalWhite);
            }
        }

        a {
            align-self: flex-end;
        }
    }
}

@media (max-width: 750px) {
    .lastNews .content{
        gap: 30px;

        .newsBlock {
            height: 320px;
            padding: 20px;
        }
    }
    
}