.otherLinks {
    .content {
        .gridLinks {
            display: grid;
            grid-template: repeat(1, 200px) / repeat(3, 1fr);
            gap: 20px;
            .link {
                cursor: pointer;
                background-color: var(--whiteGrey);
                border-radius: var(--border-radius-block);
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .title {
                    font: var(--title);
                }

                img {
                    align-self: flex-end;
                }
            }

            .link:last-child {
                background-color: var(--orange) !important;
                .title {
                    color: var(--totalWhite);
                    font: var(--title);
                }

                img {
                    filter: brightness(100);
                    align-self: flex-end;
                }
            }
        }
    }
}

@media (max-width:750px) {

    .otherLinks .content .gridLinks {
        grid-template: repeat(2, 150px) / repeat(2, 1fr) ;
    }
}

@media (max-width:450px) {

    .otherLinks .content .gridLinks {
        grid-template: repeat(3, 150px) / 1fr;
    }
}