.otherLinks {
    .content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        .gridLinks {
            display: grid;
            grid-template: repeat(1, 200px) / repeat(3, 1fr) ;
            gap: 20px;
            .link {
                cursor: pointer;
                background-color: var(--whiteGrey);
                border-radius: 20px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .title {
                    font: var(--title);
                }

                img {
                    align-self: flex-end;
                }
            }

            .link:last-child {
                background-color: var(--orange) !important;
                .title {
                    color: var(--totalWhite);
                    font: var(--title);
                }

                img {
                    filter: brightness(100);
                    align-self: flex-end;
                }
            }
        }
    }
}